In [26]:
# Pandas and Numpy libraries
import pandas as pd
import numpy as np

In [27]:
# For preprocessing the data
from sklearn.preprocessing import Imputer
from sklearn import preprocessing

In [28]:
# To split the dataset into train and test datasets
#from sklearn.cross_validation import train_test_split

from sklearn.model_selection import train_test_split

In [29]:
# To model the Gaussian Navie Bayes classifier
from sklearn.naive_bayes import GaussianNB

In [30]:
# To calculate the accuracy score of the model
from sklearn.metrics import accuracy_score

In [31]:
DB = pd.read_excel('NB_Dataset.xlsx')

In [32]:
# Print columns in the adult data set
DB.columns

Index(['No.', 'Day', 'Temperature', 'Humidity', 'Windy', 'Play'], dtype='object')

In [33]:
# Number of records(rows) in the dataframe
len(DB)

14

In [34]:
# Handling missing data
# Test whether there is any null value in our dataset or not. We can do this using isnull() method.
DB.isnull().sum()

No.            0
Day            0
Temperature    0
Humidity       0
Windy          0
Play           0
dtype: int64

In [35]:
DB.describe()

           No.
count  14.0000
mean    7.5000
std     4.1833
min     1.0000
25%     4.2500
50%     7.5000
75%    10.7500
max    14.0000

In [36]:
DB.head(2)

   No.    Day Temperature Humidity Windy Play
0    1  Sunny         Hot     High     F   No
1    2  Sunny         Hot     High     T   No

In [37]:
## Deep copy of adult_df
DB_rev = DB.copy(deep=True)

In [38]:
# Hot Encoding 
le = preprocessing.LabelEncoder()
Day_cat = le.fit_transform(DB.Day)
Temp_cat = le.fit_transform(DB.Temperature)
Humidity_cat   = le.fit_transform(DB.Humidity)
Windy_cat = le.fit_transform(DB.Windy)
Play_cat = le.fit_transform(DB.Play)

In [39]:
#initialize the encoded categorical columns
DB_rev['Day_cat'] = Day_cat
DB_rev['Temp_cat'] = Temp_cat
DB_rev['Humidity_cat'] = Humidity_cat
DB_rev['Windy_cat'] = Windy_cat
DB_rev['Play_cat'] = Play_cat

In [46]:
DB_rev.head()

   Day_cat  Temp_cat  Humidity_cat  Windy_cat  Play_cat
0        2         1             0          0         0
1        2         1             0          1         0
2        0         1             0          0         1
3        1         2             0          0         1
4        1         0             1          0         1

In [41]:
#drop the old categorical columns from dataframe
dummy_fields = ['No.','Day','Temperature','Humidity','Windy','Play']
DB_rev = DB_rev.drop(dummy_fields, axis = 1)

In [42]:
DB_rev.head()

   Day_cat  Temp_cat  Humidity_cat  Windy_cat  Play_cat
0        2         1             0          0         0
1        2         1             0          1         0
2        0         1             0          0         1
3        1         2             0          0         1
4        1         0             1          0         1

Reindex all the columns properly. We have passed the list of column names as a parameter and axis=1 for reindexing the columns.

# Data Slicing

In [47]:
# Arrange data into independent variables and dependent variables
X = DB.values[:,1:3]  ## Features
Y = DB.values[:,4]  ## Target

In [48]:
# Split the data into train and test
# Train data size: 70% of original data
# Test data size: 30% of original data
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size = 0.3, random_state = 10)

Implement Gaussian Naive Bayes

In [49]:
clf = GaussianNB()
clf.fit(X_train, Y_train)

ValueError: could not convert string to float: 'Overcast'

Now GaussianNB classifier is built. The classifier is trained using training data. We can use fit() method for training it. 
After building a classifier, our model is ready to make predictions. We can use predict() method with test set features as its 
parameters.

In [26]:
Y_pred = clf.predict(X_test)

Accuracy of our Gaussian Naive Bayes model

In [27]:
accuracy_score(Y_test, Y_pred, normalize = True)

0.7925069096120381